/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 0 auto;
  background: url(../images/cover-image-dark.png) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: var(--font, 'IBM Plex Mono', monospace);
  color: var(--text-color, #F1B2CE);
  font-style: normal;
  font-size: var(--text-size, 18px);
  font-weight: var(--text-weight, 400);
}

.page::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color, #FF0070);
  border-right: 1px solid var(--accent-color, #FF0070);
}

.header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas: 
  ". header__theme-menu"
  "title title"
  "title-item title-item";
  min-height: 100vh;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.header__fixed-element {
  visibility: visible;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color, #FF0070);
  padding-right: 28px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.header__fixed-element::before {
  content: '';
  position: absolute;
  top: 2px;
  right: 3px;
  width: 20px;
  height: 20px;
  background-image: url(../images/Ellipse\ 4.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color, #FF0070);
  border-left: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu {
  grid-area: header__theme-menu;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__theme-menu-button {
  font: inherit;
  color: var(--accent-color, #FF0070);
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  text-transform: lowercase;
  padding: 0 13px 2px 13px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #FF0070);
  pointer-events: none;
}

.title {
  grid-area: title;
  color: var(--main-header-color, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.title-decor {
  color: var(--headers-color, #000028);
  background-color: var(--accent-color, #FF0070);
  font-weight: 700;
  line-height: 23.4px;
}

.title-item {
  grid-area: title-item;
  align-self: center;
}

.main-section {
  padding: 10px;
}

.text-section {
  margin-block-start: 50px;
}

.text-section:first-child {
  margin-block-start: 30px;
}

.header-section-decor {
  color: var(--accent-color, #FF0070);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: 20px;
}

.title-section-decor {
  font-size: var(--text-size, 18px);
  margin-block-end: 10px;
  line-height: 23.4px;
}

.link-decor {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 1px solid transparent;
}

.link-decor:hover {
  border-bottom: 1px solid var(--text-color, #F1B2CE);
}

.link-decor:focus-visible {
  outline: none;
  border: 1px solid var(--text-color, #F1B2CE);
}

.pictures-section {
  margin-block-start: 50px;
}

.text-section-decor {
  margin-block-end: 20px;
  line-height: 23.4px;
}

.lower-title-decor {
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.title-picture-section-decor {
  font-size: var(--text-size, 18px);
  margin-block-end: 10px;
}

.pictures-area {
  display: grid;
  gap: 10px;
  justify-items: center;
}

.pictures-area > img {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  margin-block-start: 30px;
  padding: 10px;
}

.footer::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color, #FF0070);
  border-right: 1px solid var(--accent-color, #FF0070);
}

.footer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 11px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color, #FF0070);
  border-left: 1px solid var(--accent-color, #FF0070);
}

.footer-title {
  margin: auto;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

@media (min-width: 768px) {

  .page::before {
    top: 20px;
    right: 20px;
  }

  .header {
    padding: 20px;
  }

  .header__fixed-element {
    top: 20px;
    right: 20px;
  }

  .header::after {
    bottom: 20px;
    left: 20px;
  }

  .header .title {
    margin-left: -20px;
  }

  .title-item {
    width: 50%;
    margin-left: auto;
  }

  .main-section {
    padding: 20px;
  }

  .text-section {
    margin-block-start: 80px;
  }

  .text-section:first-child {
    margin-block-start: 40px;
  }

  .text-section-two-columns {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .text-section-two-columns .text-section-decor:last-child {
    margin-block-end: 0;
  }

  .text-section-three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: 
    "header-three-columns . ."
    "fisrt-article fisrt-article fisrt-article"
    "second-article second-article second-article"
    "third-article third-article third-article";
  }

  .text-section-three-columns .third-article .text-section-decor:last-child {
    margin-block-end: 0;
  }

  .header-three-columns {
    grid-area: header-three-columns;
    max-width: 236px;
  }

  .fisrt-article {
    grid-area: fisrt-article;
  }

  .second-article {
    grid-area: second-article;
  }

  .third-article {
    grid-area: third-article;
  }

  .title-picture-section-decor {
    margin-block-end: 20px;
  }

  .pictures-section {
    margin-block-start: 80px;
  }

  .pictures-area {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "pictures-area-1 pictures-area-1 pictures-area-2"
    "pictures-area-3 pictures-area-4 pictures-area-2"
    "pictures-area-3 pictures-area-5 pictures-area-5";
  }

  .pictures-area-1 {
    display: block;
    grid-area: pictures-area-1;
    object-fit: cover;
    object-position: center;
    height: 100%;
  }

  .picture-area-2 {
    display: block;
    grid-area: pictures-area-2;
    object-fit: cover;
    object-position: center;
    height: 100%;
  }

  .picture-area-3 {
    display: block;
    grid-area: pictures-area-3;
    object-fit: cover;
    object-position: center;
    height: 100%;
  }

  .picture-area-4 {
    display: block;
    grid-area: pictures-area-4;
    object-fit: cover;
    object-position: center;
    height: 100%;
  }

  .picture-area-5 {
    display: block;
    grid-area: pictures-area-5;
    object-fit: cover;
    object-position: center;
    height: 100%;
  }

  .footer {
    margin-block-start: 40px;
    padding: 20px;
  }

  .footer-title {
    margin: auto;
  }

  .footer::before {
    top: 20px;
    right: 20px;
  }

  .footer::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (min-width: 1024px) {

  .header {
    grid-template-areas: 
    "header__theme-menu header__theme-menu"
    "title title"
    "title-item title-item";
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .text-section {
    margin-block-start: 80px;
  }

  .text-section:first-child {
    margin-block-start: 40px;
  }

  .text-section-two-columns {
    grid-template-columns: 315px 1fr;
  }

  .header-three-columns {
    margin-block-end: 0;
    max-width: 315px;
  }

  .text-section-three-columns {
    grid-template-areas: 
    "header-three-columns . ."
    "fisrt-article second-article third-article"
    "fisrt-article second-article third-article"
    "fisrt-article second-article third-article";
    gap: 20px;
  }

  .pictures-section {
    margin-block-start: 80px;
  }

  .footer-title {
    margin: auto;
  }

  .footer::after {
    bottom: 20px;
  }
}